{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
  {% if perms.catalog.add_author or perms.catalog.change_author %}
    <h1>Author Form</h1>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Submit</button>
      <a href="{% url 'catalog:authors' %}" class="btn btn-secondary">Cancel</a>
    </form>
  {% else %}
    <div class="alert alert-danger">
      You do not have permission to access this feature.
    </div>
    <a href="{% url 'catalog:index' %}" class="btn btn-primary">Home</a>
  {% endif %}
{% endblock %}
