{% extends "base.html" %}

{% block content %}
  <h1>My Borrowed Books</h1>

  {% if bookinstance_list %}
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Due Back</th>
        <th>Status</th>
      </tr>
      {% for bookinst in bookinstance_list %}
        <tr>
          <td>
            <a href="{{ bookinst.book.get_absolute_url }}">
              {{ bookinst.book.title }}
            </a>
          </td>
          <td>{{ bookinst.due_back }}</td>
          <td>{{ bookinst.get_status_display }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You have no borrowed books.</p>
  {% endif %}
{% endblock %}
